{%extends 'base.html'%}
{%block title%}
<title>Adventure X | Partnerships</title>
{%endblock%}
{%block content%}
<center><h1>You're home!</h1></center>
<br>
<div>
        <h3>
            It’s been a long journey. You started out with just a small group, trying to make little changes here and there, but you’ve returned with so much more. You’ve met students, teachers, doctors, nurses, kids, parents, and so many others. You’ve donated to charities, helped rebuild communities, and fought for social differences. By striving for sustainability for all, you’ve created partnerships that will hopefully last a lifetime, ensuring a future that generations ahead will be proud of.
        </h3>
</div>
<form class="row g-3">
    <center>
        
        <div>
            Score: ???
        </div>
        <div>Comrades: ???</div>
    </center>
    <center>
        <div class="col-2">
            <button type="Play Again" class="btn btn-primary">Play Again?</button>
        </div>
    </center>
</form>
<br>
<center><img src="https://npinopunintended.files.wordpress.com/2012/05/game-over-1.jpeg?w=584" class="rounded mx-auto d-block" alt="..."></center>


{%endblock%}
