
{%block content%}

<center><h1>Hey this is the Ending page, thanks for coming!</h1></center>
<br>

<form class="row g-3">
    <center>
        <div class="col-md-2">
            <h1>Good job dude. </h1>
        </div>
    </center>
    <center>
        <div class="col-2">
            <button type="Play Again" class="btn btn-primary">Play Again?</button>
        </div>
    </center>
</form>
<br>
<center><img src="https://npinopunintended.files.wordpress.com/2012/05/game-over-1.jpeg?w=584" class="rounded mx-auto d-block" alt="..."></center>


{%endblock%}