<figure class="text-center">

  

  <h3>The students notice a broken canal on the way to their next destination. Here, the canal had become dysfunctional to the point that all agricultural crops were left abandoned. With rising global warming and climate change, it is important that the students think about this issue and decide how to approach it. What do you think they should do?</h3>
  
  <p><a href="http://localhost:8000/goal13/next/">Post it on social media expecting that it will pick up some momentum </a></p>
  <p><a href="http://localhost:8000/goal13/next/">Try to halt the journey and rebuild the canal themselves</a></p>
  <p><a href="http://localhost:8000/goal13/next/">Call the government authorities and report a problem which you can follow up later, assuring that the problem is attended to </a>
	 

</p>
  
</figure>