<figure class="text-center">

  

  <h3>It’s one of the last days of the journey and the kids are on their way back, tired and exhausted. They stop by a hospital to get a few extra first aid kits. They notice that because of a roadblock, many employees were unable to attend an important seminar where they were going to educate the locals about malnutrition in children and distribute Ready-to-Use Therapeutic Foods (RUTFs) later. The hospital now lacks staff who can help put together the seminar and handle the public. How should the children approach this situation?
</h3>

  <p>Tell the hospital staff that they need to report back to the university soon so they can’t stay back</p>

  <p>Volunteer to stay back and help the hospital staff to conduct the seminar by standing in to distribute food packets, helping to organize the seminar</p>

  <p>Call a few friends who live in that area and ask them to come and help as you are extremely tired</p>