{%extends 'baseg1.html'%}
{%block title%}Adventure X | Poverty{%endblock%}
{%block content%}
<h1>Poverty</h1>

<!-- Question 1 -->
<p>One of the tent dwellers tells you about a flood that swept through the city ealier this week</p>
<h3>How do you reassure them?</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio" id="q2o1">
    <label class="form-check-label" for="q2o1">
        a. Help reinforce the tents.
        <!-- (Karma +) -->
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio" id="q2o2">
    <label class="form-check-label" for="q2o2">
        b. Tell them everything will be OK.
        <!--  (Neutral) -->
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio" id="q2o3">
    <label class="form-check-label" for="q2o3">
        c. Teach them how to prepare for natural disasters in the future.
        <!-- (Karma +, Comrades +) -->
    </label>
    </input>
</div>
<br/>
<a href="{% url 'g1q3'%}">
    <button type="button" class="btn btn-primary">Continue</button>
</a>

{%endblock%}