{%extends 'base.html'%}
{%block content%}

<center><h1>Hey this is the landing page, thanks for coming!</h1></center>
<br>

<form class="row g-3">
    <center>
        <div class="col-md-2">
            <input type="Name" class="form-control" id="InputName1">
        </div>
    </center>
    <center>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </center>
</form>
<br>

<img src="https://i.pinimg.com/originals/3a/ed/ea/3aedeae65e41ecb1f6a5007de73f7316.jpg" class="rounded mx-auto d-block" alt="...">

{%endblock%}
